@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
      @content;
  }
}

html {
  font-family: 'Inter';
  color: white;
  font-size: 14px;

  @media (min-width: theme('screens.sm')) {
    font-size: 14px;
  }

  @media (min-width: theme('screens.md')) {
    font-size: 14px;
  }

  @media (min-width: theme('screens.lg')) {
    font-size: 16px;
  }

  @media (min-width: theme('screens.xl')) {
    font-size: 18px;
  }
}

::-moz-selection {
  background: #ffff17f0;
  color: black;
}

::selection {
  background: #ffff17f0;
  color: black;
}

.murdered-out-black-gradient {
  background: -webkit-linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
  background: linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
}

body {
  height: 100%;
}

#__next {
  height: 100%;
}

#__next > div {
  height: 100%;
}

hr {
  @apply my-5;
}

@include headings {
  @apply my-5;
}

h1 {
  @apply text-5xl tracking-tight leading-tight;
}

h2 {
  @apply text-3xl tracking-tight;
}

h3 {
  @apply text-2xl font-extralight leading-normal;
}

h3 {
  @apply text-lg font-extralight leading-normal;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

a {
  @apply tracking-wider;
}

p {
  @apply text-base font-light py-5 tracking-tight leading-relaxed;
}

.fade-bg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7077205882352942) 41%,
    rgba(0, 0, 0, 0.5284488795518207) 64%,
    rgba(0, 0, 0, 0) 100%
  );
}