@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './reset.scss';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html {
  font-size: 14px;

  @media (min-width: theme('screens.sm')) {
    font-size: 14px;
  }

  @media (min-width: theme('screens.md')) {
    font-size: 14px;
  }

  @media (min-width: theme('screens.lg')) {
    font-size: 16px;
  }

  @media (min-width: theme('screens.xl')) {
    font-size: 18px;
  }
}

::-moz-selection {
  background: #ffff17f0;
  color: black;
}

::selection {
  background: #ffff17f0;
  color: black;
}

.murdered-out-black-gradient {
  background: -webkit-linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
  background: linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
}

body {
  background: #141419;
  // @extend .murdered-out-black-gradient;
  height: 100%;
}

#__next {
  height: 100%;
}

#__next > div {
  height: 100%;
}

hr {
  @apply my-5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply my-6;
  @apply font-extrabold;
}

p.MuiTypography-root {
  @apply my-6;
  @apply font-light;
}

a {
  @apply transition-all;
  @apply font-bold;
  @apply text-indigo-400;
}

a:hover {
  @apply text-indigo-600;
}
