@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-accent text-accent-content;
}

html {
  font-size: 14px;

  @media (min-width: theme("screens.sm")) {
    font-size: 14px;
  }

  @media (min-width: theme("screens.md")) {
    font-size: 14px;
  }

  @media (min-width: theme("screens.lg")) {
    font-size: 16px;
  }

  @media (min-width: theme("screens.xl")) {
    font-size: 18px;
  }
}

.snap-container {
  scroll-snap-type: proximity;
  scroll-snap-points-y: 100svh, 100lvh, 100lvh;
  scroll-snap-type: y proximity;
  scroll-padding: 58px;
}

.snap-page {
  scroll-snap-align: center;
}
