@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url("/material-icons.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  /* font-size: 1rem; */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

::selection {
  @apply bg-accent text-accent-content;
}

html {
  font-size: 14px;

  @media (min-width: theme("screens.sm")) {
    font-size: 14px;
  }

  @media (min-width: theme("screens.md")) {
    font-size: 14px;
  }

  @media (min-width: theme("screens.lg")) {
    font-size: 16px;
  }

  @media (min-width: theme("screens.xl")) {
    font-size: 18px;
  }
}
/* 
h1 {
  @apply text-5xl tracking-tight leading-tight;
}

h2 {
  @apply text-3xl tracking-tight;
}

h3 {
  @apply text-2xl font-extralight leading-normal;
}

h3 {
  @apply text-lg font-extralight leading-normal;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
} */

/* a {
  @apply font-bold;
}

p {
  @apply text-base font-light py-5 tracking-tight leading-relaxed;
} */
