@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  display: block;
  src: url("/material-icons.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  /* font-size: 1rem; */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

::selection {
  @apply bg-accent text-accent-content;
}

html {
  font-size: 14px;

  @media (min-width: theme("screens.sm")) {
    font-size: 14px;
  }

  @media (min-width: theme("screens.md")) {
    font-size: 14px;
  }

  @media (min-width: theme("screens.lg")) {
    font-size: 16px;
  }

  @media (min-width: theme("screens.xl")) {
    font-size: 18px;
  }
}

.snap-container {
  scroll-snap-type: proximity;
  scroll-snap-points-y: 100svh, 100lvh, 100lvh;
  scroll-snap-type: y proximity;
  scroll-padding: 58px;
}

.snap-page {
  scroll-snap-align: center;
}
